/* Homepage CSS */

body {
  background: #f6f6f6;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Navigation */

/* Originally I wrote a code which was giving a bug where the links in the dropdown menu where misplaced and "floating" wrong. 
The resources used to learn how to make a dropdown menu which did not result in a buggy placement of the links in the dropdown: 
https://css-tricks.com/solved-with-css-dropdown-menus/
https://www.youtube.com/watch?v=gEbG3xyQoxA */

nav {
  height: 56.8px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
}

nav ul {
  float: right;
  background: #f6f6f6;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.3rem;
}

nav li {
  color: #fff;
  background: #f6f6f6;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: #0a3641;
}

nav li:hover {
  background: #e7eaea;
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0a3641;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e7eaea;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}

.nav-link {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  .hover-menu-item {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

/* End Navigation */

/* Logo */

.logo {
  width: 70px;
  margin-top: 9.5px;
  margin-left: 14.5px;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 60px;
  }
}

@media screen and (max-width: 378px) {
  .logo {
    width: 50px;
  }
}

@media screen and (max-width: 278px) {
  .logo {
    position: relative;
    left: -10px;
    width: 40px;
  }
}

/* End Logo */

/* Hero */

/* Used this resource to figure out how to make the hero centered: https://stackoverflow.com/questions/64563675/best-method-for-making-hero-image-fill-entire-screen-on-mobile-without-ruining-q */

.hero {
  position: relative;
}

.hero-image {
  height: 50vw;
  width: 100%;
  background-image: url(/images/hero/pexels-till-daling-1920-1080.jpg);
  background-size: cover;
  background-position: center;
}

.hero-description {
  position: absolute;
  bottom: 40%;
  left: 10%;
  color: rgb(10, 54, 65);
  font-size: larger;
  font-weight: 500;
}

.hero-description-second-p {
  font-weight: 900;
  font-size: 28px;
  position: relative;
  bottom: 20px;
}

.hero-CTA {
  position: absolute;
  bottom: 5%;
  left: 40%;
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 30px;
  font-weight: 900;
}

.hero-CTA-text {
  text-transform: uppercase;
}

.hero-CTA-button {
  font-weight: 600;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}

.hero-CTA a {
  text-decoration: none;
  color: #0a3641;
}

.hero-CTA-button:hover {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 9999px) {
  .hero-description-first-p {
    font-size: 49px;
  }
  .hero-description-second-p {
    font-size: 72px;
    bottom: 60px;
  }
  .hero-CTA {
    left: 39%;
  }
}

@media screen and (max-width: 1600px) {
  .hero-description-first-p {
    font-size: 39px;
  }
  .hero-description-second-p {
    font-size: 57px;
    bottom: 50px;
  }
  .hero-CTA {
    font-size: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-description-first-p {
    font-size: 39px;
  }
  .hero-description-second-p {
    font-size: 57px;
    bottom: 50px;
  }
  .hero-CTA {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-image {
    height: 70vw;
  }
  .hero-description-first-p {
    font-size: 31.3px;
    bottom: 20px;
  }
  .hero-description-second-p {
    font-size: 46px;
    bottom: 40px;
  }
  .hero-CTA {
    font-size: 17px;
    left: 37%;
  }
}

@media screen and (max-width: 924px) {
  .hero-image {
    height: 80vw;
  }
  .hero-description-first-p {
    font-size: 25.3px;
  }
  .hero-description-second-p {
    font-size: 37px;
    bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    height: 90vw;
  }
  .hero-description-first-p {
    font-size: 19.6px;
  }
  .hero-description-second-p {
    font-size: 29px;
    bottom: 30px;
  }
}

@media screen and (max-width: 678px) {
  .hero-description-first-p {
    font-size: 16px;
  }
  .hero-description-second-p {
    font-size: 23.4px;
    bottom: 22px;
  }
  .hero-CTA {
    font-size: 15px;
    left: 35%;
  }
}

@media screen and (max-width: 578px) {
  .hero-description-first-p {
    font-size: 13px;
  }
  .hero-description-second-p {
    font-size: 19px;
    bottom: 22px;
  }
  .hero-CTA {
    font-size: 13px;
    left: 35%;
  }
  .hero-CTA-button {
    border: 1px solid white;
  }
}

@media screen and (max-width: 478px) {
  .hero-description-first-p {
    font-size: 10px;
  }
  .hero-description-second-p {
    font-size: 14.5px;
    bottom: 15px;
  }
  .hero-CTA {
    left: 32%;
  }
}

@media screen and (max-width: 378px) {
  .hero-description-first-p {
    font-size: 9px;
  }
  .hero-description-second-p {
    font-size: 13px;
    bottom: 15px;
  }
  .hero-CTA {
    left: 30%;
  }
}

@media screen and (max-width: 330px) {
  .hero-description {
    display: none;
  }
  .hero-CTA {
    left: 18%;
  }
  .hero-CTA-text {
    color: #0a364100;
  }
}

/* End Hero */

/* Hero Women's Shop */

.hero-women {
  position: relative;
}

.hero-image-women {
  height: 22vw;
  width: 100%;
  background-image: url(/images/hero/matt-heaton-AWu2De0kt_s-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.hero-description-women {
  position: absolute;
  bottom: 27%;
  left: 5%;
  color: white;
  font-size: larger;
  font-weight: 500;
}

.hero-description-women-p {
  font-weight: 900;
  font-size: 50px;
  position: relative;
}

.hero-description-women-menu {
  position: absolute;
  bottom: 7%;
  left: 30%;
}

.hero-description-women-menu a {
  color: white;
}

.hero-description-women-menu a span {
  font-weight: 600;
}

/* End Hero Women's Shop */

/* Women and Men jacket choice */

.women-and-men-jackets {
  display: flex;
  position: relative;
  width: 100%;
}

.women-jacket-choice {
  width: 50%;
  flex: 1;
}

.men-jacket-choice {
  width: 50%;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .women-and-men-jackets {
    display: block;
  }
  .women-jacket-choice {
    display: block;
    width: 100%;
  }

  .men-jacket-choice {
    display: block;
    width: 100%;
  }
}

.CTA {
  position: absolute;
  bottom: 75%;
  left: 5%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}

.CTA-button {
  font-weight: 600;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}

.CTA a {
  text-decoration: none;
  color: #0a3641;
}

.CTA-button:hover {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 9999px) {
  .CTA {
    left: 5%;
  }
}

@media screen and (max-width: 1600px) {
  .CTA {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .CTA {
    font-size: 20px;
    bottom: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .CTA {
    font-size: 17px;
    bottom: 70%;
  }
}

@media screen and (max-width: 768px) {
  .CTA {
    bottom: 90%;
  }
}

@media screen and (max-width: 578px) {
  .CTA {
    font-size: 13px;
  }
  .CTA-button {
    border: 1px solid white;
  }
}

@media screen and (max-width: 478px) {
  .CTA {
    left: 5%;
    bottom: 88%;
  }
}

@media screen and (max-width: 378px) {
  .CTA {
    left: 5%;
  }
}

@media screen and (max-width: 330px) {
  .CTA {
    left: 29%;
    bottom: 65%;
  }
  .CTA-text {
    color: #0a364100;
  }
}

/* MEN's CTA */

.CTA2 {
  position: absolute;
  bottom: 75%;
  left: 5%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}

.CTA2-button {
  font-weight: 600;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgb(228, 228, 228);
}

.CTA2 a {
  text-decoration: none;
  color: #0a3641;
}

.CTA2-button:hover {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 9999px) {
  .CTA2 {
    left: 55%;
  }
}

@media screen and (max-width: 1600px) {
  .CTA2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .CTA2 {
    font-size: 20px;
    bottom: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .CTA2 {
    font-size: 17px;
    bottom: 70%;
  }
}

@media screen and (max-width: 768px) {
  .CTA2 {
    bottom: 40%;
    left: 5%;
  }
}

@media screen and (max-width: 578px) {
  .CTA2 {
    font-size: 13px;
  }
  .CTA2-button {
    border: 1px solid white;
  }
}

@media screen and (max-width: 478px) {
  .CTA2 {
    left: 5%;
    bottom: 38%;
  }
}

@media screen and (max-width: 378px) {
  .CTA2 {
    left: 5%;
  }
}

@media screen and (max-width: 330px) {
  .CTA2 {
    left: 30%;
    bottom: 15%;
  }
  .CTA2-text {
    color: #0a364100;
  }
}

/* End Women and Men jacket choice */

/* Best Sellers */

.best-sellers-text {
  background-color: #ffffff;
  color: #0a3641;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}

@media screen and (max-width: 330px) {
  .best-sellers-text {
    display: none;
  }
}

/* End Best Sellers */

/* Fixed size container */

.fixed-size-container {
  background-color: #ffffff;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fixed-size-items {
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 10px;
  margin: 0 10px 30px 10px;
  display: block;
  font-size: 20px;
}

.fixed-size-pic {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/green-pocket-delux.jpg);
  margin: 0 auto;
}

.fixed-size-pic-2 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/puffy-white-waffle.jpg);
  margin: 0 auto;
}

.fixed-size-pic-3 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/blue-horizon.jpg);
  margin: 0 auto;
}

.fixed-size-pic-4 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/zipped-ready.jpg);
  margin: 0 auto;
}

.fixed-size-pic-5 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/red-rider-hood.jpg);
  margin: 0 auto;
}

.fixed-size-pic-6 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/urban-organizer.jpg);
  margin: 0 auto;
}

.fixed-size-pic-7 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/jumping-jacker.jpg);
  margin: 0 auto;
}

.fixed-size-pic-8 {
  width: 300px;
  height: 350px;
  background-image: url(/images/jacket-images/down-looker.jpg);
  margin: 0 auto;
}

.pic-text {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.price {
  margin: 5px 0 5px 0;
}

.color-picker {
  margin: 5px 0 8px 0;
}

.buy-button {
  display: inline;
  border: rgba(10, 54, 65, 0.7) solid 2px;
  border-radius: 2px;
  padding: 0px 20px 2px 20px;
  margin: 10px 10px;
  position: relative;
  bottom: 7.5px;
  text-decoration: none;
}

.buy-button a {
  text-decoration: none;
  color: rgba(10, 54, 65, 0.7);
}

.color-price-row {
  vertical-align: middle;
}

@media screen and (max-width: 1300px) {
  .fixed-size-items:nth-child(8),
  .fixed-size-items:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .fixed-size-items:nth-child(5),
  .fixed-size-items:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .fixed-size-items:nth-child(3),
  .fixed-size-items:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 330px) {
  .fixed-size-container {
    display: none;
  }
}

/* End fixed size container */

/* Newsletter */

.newsletter {
  display: flex;
  height: 450px;
  background-color: rgb(225, 222, 216);
}

.newsletter-box {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 20px 100px 0px 100px;
}

.newsletter-pic {
  width: 200px;
  height: 15%;
  margin: auto;
  padding-bottom: 3%;
}

.newsletter-logo {
  width: 100px;
}

.newsletter form {
  text-align: center;
  margin: auto;
  padding-bottom: 10%;
}

.newsletter-description {
  padding: 10%;
  padding-bottom: 0;
}

.newsletter-description-1 {
  font-weight: 1000;
  margin-bottom: 3%;
  font-size: 28px;
  color: rgba(10, 54, 65, 1);
}

.newsletter-description-2 {
  text-align: center;
  margin: 0 5% 3% 5%;
  font-weight: 400;
  font-size: 16px;
  color: rgba(10, 54, 65, 0.7);
}

.newsletter-description-3 {
  text-align: center;
  margin: 0 5%;
  font-weight: 400;
  font-size: 14px;
  color: rgba(10, 54, 65, 0.4);
  margin-bottom: 5%;
}

.newsletter label {
  display: none;
}

.read-more-text {
  width: 200px;
  display: flex;
  margin: auto;
  padding-bottom: 3%;
  text-align: center;
  color: rgba(10, 54, 65, 0.4);
}

.read-more-text p {
  font-size: 16px;
}

.bold-link {
  text-decoration: none;
  color: rgba(10, 54, 65, 0.7);
  font-weight: 800;
}

.newsletter input {
  background-color: rgb(225, 222, 216);
  padding: 10px;
  font-weight: 700;
  color: rgba(10, 54, 65, 1);
  border-color: rgba(10, 54, 65, 0.5);
}

.input-box {
  border: none;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .newsletter-box {
    display: inline;
  }
  .newsletter-pic {
    text-align: center;
    padding-bottom: 0;
    margin-top: 10px;
  }
  .newsletter-description {
    padding-top: 0;
  }
  .newsletter form {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 578px) {
  .newsletter-box {
    padding: 20px 20px;
  }
  .newsletter-description-3 {
    display: none;
  }
  .newsletter-description-1 {
    margin-top: 0;
    font-size: 20px;
    padding: 10px 0 5px;
  }
  .newsletter-description-2 {
    margin-top: 0;
    font-size: 14px;
  }
  .read-more-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 474px) {
  input[type="submit"]:nth-child(4) {
    margin-top: 10px;
  }
}

@media screen and (max-width: 330px) {
  .newsletter {
    display: none;
  }
}

/* End Newsletter */

/* Footer */

.footer-container {
  height: 450px;
  background-color: white;
}

.footer-links {
  display: flex;
  height: 225px;
  margin: 0px 100px 0 100px;
  padding-top: 20px;
}

.footer-links h3 {
  color: rgba(10, 54, 65);
}

.footer-links p {
  font-size: 15px;
  color: rgba(10, 54, 65, 0.7);
}

.shop-section {
  width: 25%;
  flex: 1;
}

.info-section {
  width: 25%;
  flex: 1;
}

.help-section {
  width: 25%;
  flex: 1;
}

.member-section {
  width: 25%;
  flex: 1;
}

.member-section a {
  color: rgba(10, 54, 65, 0.7);
  font-weight: 800;
}

.social-links {
  height: 225px;
}

@media screen and (max-width: 850px) {
  .footer-links {
    display: inline;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .shop-section {
    width: auto;
    margin: auto;
  }
  .info-section {
    width: auto;
    margin: auto;
  }
  .help-section {
    width: auto;
    margin: auto;
  }
  .member-section {
    width: auto;
    margin: auto;
    padding-bottom: 20px;
  }
  body > footer > div > div.footer-links > div.member-section > p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-links p {
    margin: 0;
  }
  .footer-container {
    height: 560px;
  }
}

body > footer > div > div.social-links > div.social-icons {
  text-align: center;
  opacity: 80%;
}

body > footer > div > div.social-links > div:nth-child(2) > p {
  margin: 10px 0 10px 0;
  color: rgba(10, 54, 65, 0.5);
}

body > footer > div > div.social-links > div:nth-child(2) {
  text-align: center;
  width: auto;
  margin: 0px 100px 30px 100px;
  font-size: 14px;
}

body > footer > div > div.social-links > div:nth-child(3) > img {
  width: 100px;
  text-align: center;
}

body > footer > div > div.social-links > div:nth-child(3) {
  text-align: center;
}

.social-links {
  background-color: white;
}

.social-icons img {
  padding: 0 5px;
}

@media screen and (max-width: 600px) {
  .footer-container {
    height: 750px;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    height: 775px;
  }
}

@media screen and (max-width: 450px) {
  .footer-container {
    height: 800px;
  }
}

@media screen and (max-width: 420px) {
  .footer-container {
    height: 900px;
  }
}

/*  End Footer */

/* End Homepage CSS */
