body {
  background: #f6f6f6;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Navigation */

/* Originally I wrote a code which was giving a bug where the links in the dropdown menu where misplaced and "floating" wrong. 
The resources used to learn how to make a dropdown menu which did not result in a buggy placement of the links in the dropdown: 
https://css-tricks.com/solved-with-css-dropdown-menus/
https://www.youtube.com/watch?v=gEbG3xyQoxA */

nav {
  height: 56.8px;
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
}

nav ul {
  float: right;
  background: #f6f6f6;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.3rem;
}

nav li {
  color: #fff;
  background: #f6f6f6;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: #0a3641;
}

nav li:hover {
  background: #e7eaea;
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0a3641;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 767px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e7eaea;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}

.nav-link {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  .hover-menu-item {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

/* End Navigation */

/* Logo */

.logo {
  width: 70px;
  margin-top: 9.5px;
  margin-left: 14.5px;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 60px;
  }
}

@media screen and (max-width: 378px) {
  .logo {
    width: 50px;
  }
}

@media screen and (max-width: 278px) {
  .logo {
    position: relative;
    left: -10px;
    width: 40px;
  }
}

/* End Logo */

/* Hero */

/* Used this resource to figure out how to make the hero centered: https://stackoverflow.com/questions/64563675/best-method-for-making-hero-image-fill-entire-screen-on-mobile-without-ruining-q */

.hero {
  position: relative;
}

.hero-image {
  height: 50vw;
  width: 100%;
  background-image: url(/images/hero/pexels-till-daling-1920-1080.jpg);
  background-size: cover;
  background-position: center;
}

.hero-description {
  position: absolute;
  bottom: 40%;
  left: 10%;
  color: rgb(10, 54, 65);
  font-size: larger;
  font-weight: 500;
}

.hero-description-second-p {
  font-weight: 900;
  font-size: 28px;
  position: relative;
  bottom: 20px;
}

.hero-CTA {
  position: absolute;
  bottom: 5%;
  left: 40%;
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 30px;
  font-weight: 900;
}

.hero-CTA-text {
  text-transform: uppercase;
}

.hero-CTA-button {
  font-weight: 600;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
}

.hero-CTA a {
  text-decoration: none;
  color: #0a3641;
}

.hero-CTA-button:hover {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 9999px) {
  .hero-description-first-p {
    font-size: 49px;
  }
  .hero-description-second-p {
    font-size: 72px;
    bottom: 60px;
  }
  .hero-CTA {
    left: 39%;
  }
}

@media screen and (max-width: 1600px) {
  .hero-description-first-p {
    font-size: 39px;
  }
  .hero-description-second-p {
    font-size: 57px;
    bottom: 50px;
  }
  .hero-CTA {
    font-size: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-description-first-p {
    font-size: 39px;
  }
  .hero-description-second-p {
    font-size: 57px;
    bottom: 50px;
  }
  .hero-CTA {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-image {
    height: 70vw;
  }
  .hero-description-first-p {
    font-size: 31.3px;
    bottom: 20px;
  }
  .hero-description-second-p {
    font-size: 46px;
    bottom: 40px;
  }
  .hero-CTA {
    font-size: 17px;
    left: 37%;
  }
}

@media screen and (max-width: 924px) {
  .hero-image {
    height: 80vw;
  }
  .hero-description-first-p {
    font-size: 25.3px;
  }
  .hero-description-second-p {
    font-size: 37px;
    bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    height: 90vw;
  }
  .hero-description-first-p {
    font-size: 19.6px;
  }
  .hero-description-second-p {
    font-size: 29px;
    bottom: 30px;
  }
}

@media screen and (max-width: 678px) {
  .hero-description-first-p {
    font-size: 16px;
  }
  .hero-description-second-p {
    font-size: 23.4px;
    bottom: 22px;
  }
  .hero-CTA {
    font-size: 15px;
    left: 35%;
  }
}

@media screen and (max-width: 578px) {
  .hero-description-first-p {
    font-size: 13px;
  }
  .hero-description-second-p {
    font-size: 19px;
    bottom: 22px;
  }
  .hero-CTA {
    font-size: 13px;
    left: 35%;
  }
  .hero-CTA-button {
    border: 1px solid white;
  }
}

@media screen and (max-width: 478px) {
  .hero-description-first-p {
    font-size: 10px;
  }
  .hero-description-second-p {
    font-size: 14.5px;
    bottom: 15px;
  }
  .hero-CTA {
    left: 32%;
  }
}

@media screen and (max-width: 378px) {
  .hero-description-first-p {
    font-size: 9px;
  }
  .hero-description-second-p {
    font-size: 13px;
    bottom: 15px;
  }
  .hero-CTA {
    left: 30%;
  }
}

@media screen and (max-width: 330px) {
  .hero-description {
    display: none;
  }
  .hero-CTA {
    left: 18%;
  }
  .hero-CTA-text {
    color: #0a364100;
  }
}

/* End Hero */

/* Women and Men jacket choice */

.women-and-men-jackets {
  display: flex;
}

.women-jacket-choice {
  width: 50%;
  flex: 1;
}

.men-jacket-choice {
  width: 50%;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .women-and-men-jackets {
    display: block;
  }
  .women-jacket-choice {
    display: block;
    width: 100%;
  }

  .men-jacket-choice {
    display: block;
    width: 100%;
  }
}
/* End Women and Men jacket choice */
